<h3>New Customer Info Request</h3>
<p>
    Name: {{ first_name }} {{ last_name }} <br/>
    Email: {{ email }}<br/>
    {% if phone_number %}Phone Number: {{ phone_number }}<br/>{% endif %}
</p>
<p>
    {{ message }}
</p>